.react-grid-item {
    position: relative;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .drag-handle {
    width: 20px;
    color:black;
    cursor: grab;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .drag-handle:hover {
    color:gray;
  }
  .react-grid-item {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .react-grid-item h2 {
    color: black;
  }
  
  .react-grid-item p, .react-grid-item ul {
    color: black;
  }
  
  .grid-title {
    margin-bottom: 10px;
  }
  
  .react-grid-item ul li {
    margin: 5px 0;
    color:black;
  }
  
  .button.primary.block {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
select{
  color:black;
  margin-bottom:10px;
}
select option{
  color:black;
  margin-bottom:10px;
}


  .button.primary.block:hover {
    background-color: #0056b3;
  }
  
  .drag-handle {
    cursor: grab;
    color: #666;
  }
  